<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.home">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <application>


        <activity android:name="com.example.home.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.NewsDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait" />

    </application>
</manifest>
