<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.me">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <application>

        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OrderListActivity"
            android:screenOrientation="portrait" />
    </application>
</manifest>
